<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Happy Pi Day!</h1>
        <p>Help us calculate Pi.</p>
        <p>
          <button class="btn btn-primary btn-lg" role="button" ng-click="piTrial()">Pi Me! &raquo;</button>
          Go ahead and run <strong>{{iterations | number}}</strong> iterations!
        </p>
      </div>
      <div class="col-md-4">
        <h4>What are we doing here?</h4>
        <p><small>
          The number pi is based on the ratio of the circumference or area of a circle as compared to its radius. 
          Do find this ratio, we use the monte carlo method, basically throwing millions of virtual darts at a target to see how many land inside the circle.
        </small></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">{{lastPi}}</div>
        <div class="panel-body text-muted">
          <p>Your last Pi calculation</p>
          <p>Based on <strong>{{iterations | number}}</strong> iterations</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">{{yourPi()}}</div>
        <div class="panel-body text-muted">
          <p>Your overall Pi calculation</p>
          <p>Based on <strong>{{totalIterations | number}}</strong> iterations</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">{{overallPi()}}</div>
        <div class="panel-body text-muted">
          <p>The global Pi calculated so far</p>
          <p>Based on <strong>{{overallIterations | number}}</strong> iterations from all contributors</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Credits and Inspiration</h2>
      <ul>
        <li>The monte carlo algorithm is adapted from <a href="http://rosettacode.org/wiki/Monte_Carlo_methods#JavaScript">rosetta code</a></li>
        <li>The idea for this app was spurred by <a href="https://twitter.com/bokmann">Dave Bock's</a> talk at <a href="https://twitter.com/arlingtonruby">Arlington Ruby</a></li>
      </ul>
    </div>
  </div>

  <hr>

  <footer>
    <span class="pull-right"><a href="http://stsiinc.com/"><img src="/stsi_logo.png"/></a></span>
    <p>Created by <a href="http://stsiinc.com/">STSI</a>.<br> 
      <a href="https://github.com/STSILABS/piday">Code</a> is on github.
    </p>
  </footer>
</div> <!-- /container -->